* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: "Quicksand", sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 40px;
}

/* STYLES FOR STARFIELD BACKGROUND  */
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1462px 1542px #fff, 1646px 855px #fff, 1937px 1288px #fff,
    882px 648px #fff, 534px 1521px #fff, 728px 1718px #fff, 1906px 1685px #fff,
    1890px 862px #fff, 1200px 1208px #fff, 1262px 228px #fff, 418px 1723px #fff,
    37px 1609px #fff, 1974px 969px #fff, 1902px 265px #fff, 1458px 1841px #fff,
    233px 1386px #fff, 1442px 505px #fff, 1451px 701px #fff, 795px 935px #fff,
    1212px 1255px #fff, 935px 1006px #fff, 486px 283px #fff, 1582px 1056px #fff,
    848px 1414px #fff, 1553px 619px #fff, 774px 282px #fff, 1567px 1650px #fff,
    1195px 1234px #fff, 22px 297px #fff, 1663px 1538px #fff, 1053px 986px #fff,
    399px 545px #fff, 1122px 819px #fff, 258px 1903px #fff, 745px 32px #fff,
    49px 675px #fff, 1774px 905px #fff, 848px 218px #fff, 1094px 1564px #fff,
    131px 730px #fff, 591px 61px #fff, 974px 1928px #fff, 866px 1560px #fff,
    996px 78px #fff, 762px 1089px #fff, 744px 408px #fff, 514px 782px #fff,
    1430px 1983px #fff, 113px 1657px #fff, 1713px 1536px #fff, 1466px 91px #fff,
    223px 643px #fff, 1521px 1138px #fff, 384px 1310px #fff, 381px 1003px #fff,
    1132px 1937px #fff, 997px 439px #fff, 1447px 237px #fff, 449px 392px #fff,
    1639px 243px #fff, 975px 779px #fff, 1253px 1009px #fff, 1364px 615px #fff,
    1956px 1574px #fff, 895px 1859px #fff, 1021px 372px #fff, 254px 1756px #fff,
    839px 961px #fff, 901px 815px #fff, 74px 1124px #fff, 982px 1841px #fff,
    84px 519px #fff, 36px 262px #fff, 824px 31px #fff, 154px 913px #fff,
    667px 1859px #fff, 1590px 877px #fff, 1415px 1595px #fff, 1873px 1953px #fff,
    1709px 143px #fff, 1488px 1472px #fff, 1520px 297px #fff, 1370px 580px #fff,
    1793px 1287px #fff, 734px 1796px #fff, 1869px 1212px #fff,
    1703px 1665px #fff, 1303px 962px #fff, 1038px 964px #fff, 79px 471px #fff,
    133px 243px #fff, 684px 1807px #fff, 1681px 874px #fff, 1487px 289px #fff,
    1449px 586px #fff, 436px 1024px #fff, 878px 1055px #fff, 1577px 1055px #fff,
    1739px 769px #fff, 1841px 1911px #fff, 166px 1484px #fff, 1397px 1302px #fff,
    1169px 566px #fff, 1494px 1002px #fff, 172px 1431px #fff, 1587px 1582px #fff,
    704px 1667px #fff, 358px 1310px #fff, 26px 137px #fff, 379px 1765px #fff,
    1649px 649px #fff, 1737px 383px #fff, 372px 1858px #fff, 347px 1496px #fff,
    62px 1718px #fff, 494px 361px #fff, 1573px 1713px #fff, 1321px 383px #fff,
    1976px 628px #fff, 1558px 1291px #fff, 1484px 1591px #fff, 1795px 457px #fff,
    796px 1859px #fff, 1740px 289px #fff, 200px 1600px #fff, 1465px 1413px #fff,
    1433px 1783px #fff, 1023px 795px #fff, 2000px 1588px #fff,
    1929px 1548px #fff, 1677px 713px #fff, 425px 1299px #fff, 221px 90px #fff,
    483px 1560px #fff, 479px 1754px #fff, 1069px 405px #fff, 1512px 1334px #fff,
    320px 1643px #fff, 430px 1833px #fff, 1898px 404px #fff, 1137px 1829px #fff,
    332px 244px #fff, 708px 1152px #fff, 1139px 423px #fff, 756px 1089px #fff,
    763px 1978px #fff, 156px 1701px #fff, 1599px 930px #fff, 824px 267px #fff,
    866px 88px #fff, 678px 1261px #fff, 1295px 750px #fff, 374px 463px #fff,
    109px 1463px #fff, 729px 472px #fff, 503px 511px #fff, 1283px 181px #fff,
    967px 485px #fff, 625px 437px #fff, 442px 86px #fff, 210px 1356px #fff,
    1070px 1696px #fff, 1966px 1569px #fff, 1089px 1507px #fff, 392px 252px #fff,
    749px 109px #fff, 1635px 1499px #fff, 1182px 1377px #fff, 1982px 1813px #fff,
    193px 958px #fff, 166px 855px #fff, 716px 1605px #fff, 1235px 546px #fff,
    271px 1745px #fff, 1519px 1300px #fff, 79px 554px #fff, 916px 1930px #fff,
    267px 1278px #fff, 1943px 692px #fff, 36px 1511px #fff, 1486px 658px #fff,
    1310px 1789px #fff, 353px 782px #fff, 443px 1491px #fff, 657px 164px #fff,
    131px 980px #fff, 1937px 1734px #fff, 789px 281px #fff, 1097px 96px #fff,
    1362px 1910px #fff, 1230px 575px #fff, 1998px 1670px #fff, 1043px 225px #fff,
    137px 1969px #fff, 1998px 687px #fff, 361px 637px #fff, 696px 574px #fff,
    635px 51px #fff, 142px 1493px #fff, 1520px 244px #fff, 1726px 551px #fff,
    1124px 668px #fff, 1832px 816px #fff, 1432px 769px #fff, 1366px 1279px #fff,
    1872px 585px #fff, 259px 1762px #fff, 1478px 487px #fff, 1302px 710px #fff,
    375px 47px #fff, 928px 1106px #fff, 686px 568px #fff, 306px 1099px #fff,
    1097px 972px #fff, 483px 13px #fff, 177px 1274px #fff, 1928px 1722px #fff,
    1052px 698px #fff, 1256px 1688px #fff, 1124px 1707px #fff, 1018px 790px #fff,
    1436px 210px #fff, 761px 222px #fff, 857px 1022px #fff, 400px 1615px #fff,
    1137px 350px #fff, 1499px 1875px #fff, 635px 381px #fff, 1031px 1754px #fff,
    733px 1171px #fff, 879px 752px #fff, 6px 266px #fff, 1140px 367px #fff,
    1252px 107px #fff, 850px 798px #fff, 484px 1154px #fff, 1029px 418px #fff,
    942px 612px #fff, 183px 1974px #fff, 794px 1560px #fff, 1548px 1588px #fff,
    994px 1337px #fff, 57px 1043px #fff, 444px 49px #fff, 1468px 601px #fff,
    1446px 1973px #fff, 917px 1703px #fff, 1127px 1340px #fff, 139px 1607px #fff,
    41px 714px #fff, 1229px 1317px #fff, 902px 679px #fff, 1336px 1533px #fff,
    687px 376px #fff, 319px 1962px #fff, 820px 1512px #fff, 81px 485px #fff,
    136px 447px #fff, 1516px 930px #fff, 281px 1218px #fff, 1329px 336px #fff,
    785px 452px #fff, 1025px 1700px #fff, 564px 310px #fff, 304px 754px #fff,
    1763px 1923px #fff, 1451px 1459px #fff, 674px 1154px #fff,
    1227px 1212px #fff, 1417px 1563px #fff, 202px 1606px #fff,
    1625px 1825px #fff, 833px 1700px #fff, 550px 1435px #fff, 1050px 266px #fff,
    921px 324px #fff, 926px 19px #fff, 62px 1239px #fff, 806px 1126px #fff,
    1383px 1950px #fff, 838px 140px #fff, 1602px 816px #fff, 1970px 676px #fff,
    1640px 1034px #fff, 1861px 410px #fff, 560px 622px #fff, 1922px 383px #fff,
    1914px 316px #fff, 1444px 1586px #fff, 800px 956px #fff, 1061px 994px #fff,
    1044px 1627px #fff, 1928px 1011px #fff, 956px 1705px #fff, 1580px 692px #fff,
    1025px 933px #fff, 676px 333px #fff, 1800px 339px #fff, 645px 815px #fff,
    1761px 1557px #fff, 1568px 446px #fff, 885px 366px #fff, 627px 1510px #fff,
    164px 1324px #fff, 230px 1576px #fff, 1045px 1215px #fff, 1632px 777px #fff,
    584px 178px #fff, 893px 89px #fff, 1237px 718px #fff, 200px 462px #fff,
    179px 1915px #fff, 1042px 1635px #fff, 1753px 484px #fff, 9px 1434px #fff,
    705px 164px #fff, 1724px 1552px #fff, 1870px 947px #fff, 1672px 166px #fff,
    1925px 890px #fff, 371px 1555px #fff, 658px 1473px #fff, 295px 754px #fff,
    1346px 123px #fff, 368px 1607px #fff, 1523px 1085px #fff, 1360px 1379px #fff,
    1927px 1526px #fff, 1454px 318px #fff, 660px 1478px #fff, 989px 976px #fff,
    1837px 1108px #fff, 883px 1407px #fff, 1376px 377px #fff, 430px 1317px #fff,
    907px 886px #fff, 1089px 526px #fff, 1647px 349px #fff, 1202px 777px #fff,
    1504px 1495px #fff, 1970px 265px #fff, 1004px 787px #fff, 374px 646px #fff,
    1449px 1461px #fff, 1374px 595px #fff, 913px 337px #fff, 1551px 1850px #fff,
    114px 413px #fff, 1650px 1131px #fff, 518px 1147px #fff, 1249px 763px #fff,
    1565px 1968px #fff, 883px 450px #fff, 389px 1387px #fff, 974px 332px #fff,
    22px 898px #fff, 1091px 1317px #fff, 1273px 1296px #fff, 1956px 747px #fff,
    1359px 1132px #fff, 1786px 783px #fff, 1175px 1345px #fff,
    1368px 1683px #fff, 543px 744px #fff, 17px 956px #fff, 604px 643px #fff,
    1712px 385px #fff, 997px 569px #fff, 1547px 721px #fff, 527px 1517px #fff,
    1884px 1412px #fff, 424px 214px #fff, 260px 1910px #fff, 1605px 1972px #fff,
    1426px 1581px #fff, 1143px 1200px #fff, 442px 1086px #fff,
    1915px 1896px #fff, 1607px 1306px #fff, 289px 1904px #fff, 1419px 972px #fff,
    1371px 997px #fff, 1569px 763px #fff, 124px 194px #fff, 1886px 1336px #fff,
    1386px 1347px #fff, 1059px 1620px #fff, 1648px 1660px #fff,
    1152px 1279px #fff, 392px 1495px #fff, 85px 1966px #fff, 1501px 1636px #fff,
    105px 258px #fff, 108px 526px #fff, 1658px 55px #fff, 1785px 1615px #fff,
    1648px 575px #fff, 934px 1724px #fff, 1850px 1631px #fff, 266px 1611px #fff,
    1322px 1264px #fff, 611px 893px #fff, 1336px 21px #fff, 1791px 884px #fff,
    1758px 732px #fff, 1711px 558px #fff, 119px 1678px #fff, 758px 1056px #fff,
    1996px 1122px #fff, 1603px 1207px #fff, 366px 790px #fff, 142px 1256px #fff,
    1082px 1505px #fff, 1179px 540px #fff, 1423px 620px #fff, 1043px 1577px #fff,
    1510px 1850px #fff, 1013px 935px #fff, 1284px 896px #fff, 1305px 1784px #fff,
    1323px 1863px #fff, 1241px 1866px #fff, 1140px 632px #fff, 1412px 86px #fff,
    1858px 1784px #fff, 154px 58px #fff, 1687px 1484px #fff, 823px 1459px #fff,
    1493px 1412px #fff, 1277px 510px #fff, 997px 1519px #fff, 1011px 1130px #fff,
    862px 1389px #fff, 1040px 1613px #fff, 643px 1707px #fff, 1681px 1441px #fff,
    1943px 1125px #fff, 1786px 226px #fff, 1969px 1177px #fff,
    1227px 1485px #fff, 352px 38px #fff, 470px 173px #fff, 672px 1106px #fff,
    1727px 624px #fff, 621px 1027px #fff, 1909px 1102px #fff, 537px 1029px #fff,
    366px 1056px #fff, 131px 1029px #fff, 1303px 1753px #fff, 237px 1903px #fff,
    783px 606px #fff, 1957px 1728px #fff, 293px 1366px #fff, 1328px 1941px #fff,
    1750px 420px #fff, 30px 1597px #fff, 1669px 1218px #fff, 1091px 874px #fff,
    1033px 154px #fff, 473px 138px #fff, 1439px 347px #fff, 1018px 818px #fff,
    1225px 219px #fff, 631px 1411px #fff, 1997px 285px #fff, 1866px 1863px #fff,
    849px 265px #fff, 268px 1607px #fff, 316px 1562px #fff, 139px 387px #fff,
    748px 1714px #fff, 218px 486px #fff, 822px 724px #fff, 282px 8px #fff,
    433px 1527px #fff, 141px 1100px #fff, 1389px 1250px #fff, 830px 642px #fff,
    1701px 777px #fff, 791px 1950px #fff, 1278px 606px #fff, 360px 466px #fff,
    95px 1749px #fff, 1012px 1071px #fff, 218px 1px #fff, 1286px 429px #fff,
    1176px 1883px #fff, 1439px 1735px #fff, 810px 957px #fff, 1852px 964px #fff,
    1654px 1921px #fff, 1141px 1055px #fff, 550px 1208px #fff, 106px 1527px #fff,
    1685px 622px #fff, 1777px 1900px #fff, 177px 107px #fff, 990px 215px #fff,
    1492px 1559px #fff, 1954px 926px #fff, 473px 1272px #fff, 1465px 728px #fff,
    407px 626px #fff, 994px 218px #fff, 914px 530px #fff, 599px 1180px #fff,
    879px 249px #fff, 759px 123px #fff, 851px 140px #fff, 1509px 335px #fff,
    1055px 126px #fff, 228px 1612px #fff, 1033px 1781px #fff, 263px 260px #fff,
    370px 1790px #fff, 322px 1150px #fff, 1380px 1602px #fff, 1927px 1563px #fff,
    437px 875px #fff, 1540px 589px #fff, 1489px 1386px #fff, 1462px 51px #fff,
    15px 1487px #fff, 1692px 503px #fff, 1558px 282px #fff, 915px 607px #fff,
    1458px 1062px #fff, 1282px 1561px #fff, 1126px 1946px #fff,
    849px 1502px #fff, 1203px 281px #fff, 1061px 910px #fff, 1559px 721px #fff,
    285px 1298px #fff, 1608px 1633px #fff, 695px 797px #fff, 1411px 1294px #fff,
    1903px 1316px #fff, 1641px 488px #fff, 269px 1430px #fff, 765px 374px #fff,
    109px 554px #fff, 526px 799px #fff, 1431px 1275px #fff, 1071px 186px #fff,
    1587px 734px #fff, 1712px 1101px #fff, 887px 893px #fff, 567px 1307px #fff,
    1048px 364px #fff, 1700px 1023px #fff, 90px 1065px #fff, 3px 409px #fff,
    1854px 1541px #fff, 1007px 1008px #fff, 1795px 858px #fff, 1544px 305px #fff,
    614px 1620px #fff, 55px 1968px #fff, 1958px 888px #fff, 849px 266px #fff,
    487px 570px #fff, 1793px 980px #fff, 1919px 1205px #fff, 1059px 617px #fff,
    533px 1964px #fff, 211px 1916px #fff, 1646px 1586px #fff, 967px 585px #fff,
    1594px 551px #fff, 1908px 1406px #fff, 464px 743px #fff, 1722px 1625px #fff,
    599px 1347px #fff, 391px 688px #fff, 828px 1798px #fff, 610px 475px #fff,
    939px 986px #fff, 1861px 1528px #fff, 1598px 822px #fff, 1897px 196px #fff,
    587px 429px #fff, 922px 1562px #fff, 1293px 224px #fff, 1225px 1505px #fff,
    1600px 110px #fff, 1332px 1167px #fff, 1775px 1013px #fff, 335px 1489px #fff,
    727px 1286px #fff, 141px 795px #fff, 1585px 1884px #fff, 768px 322px #fff,
    269px 1603px #fff, 1242px 208px #fff, 1056px 1507px #fff, 1957px 1482px #fff,
    1755px 233px #fff, 1540px 287px #fff, 165px 919px #fff, 1016px 302px #fff,
    1587px 1891px #fff, 598px 135px #fff, 1262px 1374px #fff, 1767px 728px #fff,
    928px 1689px #fff, 1964px 197px #fff, 1257px 221px #fff, 1868px 229px #fff,
    1787px 469px #fff, 1978px 77px #fff, 508px 1591px #fff, 1770px 1099px #fff,
    1208px 236px #fff, 1767px 153px #fff, 1880px 361px #fff, 1586px 1096px #fff,
    997px 1035px #fff, 408px 304px #fff, 978px 1775px #fff, 446px 1851px #fff,
    863px 1235px #fff, 599px 1199px #fff, 80px 336px #fff, 1200px 1931px #fff,
    1072px 1538px #fff, 1156px 359px #fff, 1513px 1073px #fff,
    1277px 1638px #fff, 1885px 1826px #fff, 1037px 1556px #fff,
    1285px 246px #fff, 664px 740px #fff, 317px 1475px #fff, 1602px 1146px #fff,
    1611px 1098px #fff, 6px 1632px #fff, 1912px 1827px #fff, 1104px 1685px #fff,
    1742px 587px #fff, 976px 1524px #fff, 281px 496px #fff, 1539px 101px #fff,
    103px 278px #fff, 313px 1596px #fff, 1670px 788px #fff, 273px 155px #fff,
    512px 1252px #fff, 1198px 453px #fff, 1565px 181px #fff, 778px 1400px #fff,
    1107px 406px #fff, 1038px 874px #fff, 1244px 1847px #fff, 457px 41px #fff,
    758px 283px #fff, 725px 96px #fff, 172px 367px #fff, 592px 86px #fff,
    1588px 3px #fff, 1037px 245px #fff, 599px 1008px #fff, 386px 852px #fff,
    1030px 497px #fff, 1509px 554px #fff, 480px 1262px #fff, 649px 1229px #fff,
    1420px 1344px #fff, 316px 876px #fff, 1754px 693px #fff, 153px 681px #fff,
    661px 1527px #fff, 456px 333px #fff, 383px 1241px #fff, 939px 1556px #fff,
    1531px 1566px #fff, 1305px 163px #fff, 839px 1361px #fff, 1009px 1499px #fff,
    1723px 1270px #fff, 596px 1105px #fff, 1439px 914px #fff, 1696px 401px #fff,
    805px 1718px #fff, 844px 1886px #fff, 1140px 298px #fff, 1056px 1277px #fff,
    816px 1323px #fff, 1536px 361px #fff, 1862px 537px #fff, 480px 314px #fff,
    601px 1727px #fff, 1862px 1350px #fff, 1684px 1265px #fff, 473px 379px #fff,
    1117px 398px #fff, 469px 1140px #fff, 1122px 1326px #fff, 105px 1184px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1462px 1542px #fff, 1646px 855px #fff, 1937px 1288px #fff,
    882px 648px #fff, 534px 1521px #fff, 728px 1718px #fff, 1906px 1685px #fff,
    1890px 862px #fff, 1200px 1208px #fff, 1262px 228px #fff, 418px 1723px #fff,
    37px 1609px #fff, 1974px 969px #fff, 1902px 265px #fff, 1458px 1841px #fff,
    233px 1386px #fff, 1442px 505px #fff, 1451px 701px #fff, 795px 935px #fff,
    1212px 1255px #fff, 935px 1006px #fff, 486px 283px #fff, 1582px 1056px #fff,
    848px 1414px #fff, 1553px 619px #fff, 774px 282px #fff, 1567px 1650px #fff,
    1195px 1234px #fff, 22px 297px #fff, 1663px 1538px #fff, 1053px 986px #fff,
    399px 545px #fff, 1122px 819px #fff, 258px 1903px #fff, 745px 32px #fff,
    49px 675px #fff, 1774px 905px #fff, 848px 218px #fff, 1094px 1564px #fff,
    131px 730px #fff, 591px 61px #fff, 974px 1928px #fff, 866px 1560px #fff,
    996px 78px #fff, 762px 1089px #fff, 744px 408px #fff, 514px 782px #fff,
    1430px 1983px #fff, 113px 1657px #fff, 1713px 1536px #fff, 1466px 91px #fff,
    223px 643px #fff, 1521px 1138px #fff, 384px 1310px #fff, 381px 1003px #fff,
    1132px 1937px #fff, 997px 439px #fff, 1447px 237px #fff, 449px 392px #fff,
    1639px 243px #fff, 975px 779px #fff, 1253px 1009px #fff, 1364px 615px #fff,
    1956px 1574px #fff, 895px 1859px #fff, 1021px 372px #fff, 254px 1756px #fff,
    839px 961px #fff, 901px 815px #fff, 74px 1124px #fff, 982px 1841px #fff,
    84px 519px #fff, 36px 262px #fff, 824px 31px #fff, 154px 913px #fff,
    667px 1859px #fff, 1590px 877px #fff, 1415px 1595px #fff, 1873px 1953px #fff,
    1709px 143px #fff, 1488px 1472px #fff, 1520px 297px #fff, 1370px 580px #fff,
    1793px 1287px #fff, 734px 1796px #fff, 1869px 1212px #fff,
    1703px 1665px #fff, 1303px 962px #fff, 1038px 964px #fff, 79px 471px #fff,
    133px 243px #fff, 684px 1807px #fff, 1681px 874px #fff, 1487px 289px #fff,
    1449px 586px #fff, 436px 1024px #fff, 878px 1055px #fff, 1577px 1055px #fff,
    1739px 769px #fff, 1841px 1911px #fff, 166px 1484px #fff, 1397px 1302px #fff,
    1169px 566px #fff, 1494px 1002px #fff, 172px 1431px #fff, 1587px 1582px #fff,
    704px 1667px #fff, 358px 1310px #fff, 26px 137px #fff, 379px 1765px #fff,
    1649px 649px #fff, 1737px 383px #fff, 372px 1858px #fff, 347px 1496px #fff,
    62px 1718px #fff, 494px 361px #fff, 1573px 1713px #fff, 1321px 383px #fff,
    1976px 628px #fff, 1558px 1291px #fff, 1484px 1591px #fff, 1795px 457px #fff,
    796px 1859px #fff, 1740px 289px #fff, 200px 1600px #fff, 1465px 1413px #fff,
    1433px 1783px #fff, 1023px 795px #fff, 2000px 1588px #fff,
    1929px 1548px #fff, 1677px 713px #fff, 425px 1299px #fff, 221px 90px #fff,
    483px 1560px #fff, 479px 1754px #fff, 1069px 405px #fff, 1512px 1334px #fff,
    320px 1643px #fff, 430px 1833px #fff, 1898px 404px #fff, 1137px 1829px #fff,
    332px 244px #fff, 708px 1152px #fff, 1139px 423px #fff, 756px 1089px #fff,
    763px 1978px #fff, 156px 1701px #fff, 1599px 930px #fff, 824px 267px #fff,
    866px 88px #fff, 678px 1261px #fff, 1295px 750px #fff, 374px 463px #fff,
    109px 1463px #fff, 729px 472px #fff, 503px 511px #fff, 1283px 181px #fff,
    967px 485px #fff, 625px 437px #fff, 442px 86px #fff, 210px 1356px #fff,
    1070px 1696px #fff, 1966px 1569px #fff, 1089px 1507px #fff, 392px 252px #fff,
    749px 109px #fff, 1635px 1499px #fff, 1182px 1377px #fff, 1982px 1813px #fff,
    193px 958px #fff, 166px 855px #fff, 716px 1605px #fff, 1235px 546px #fff,
    271px 1745px #fff, 1519px 1300px #fff, 79px 554px #fff, 916px 1930px #fff,
    267px 1278px #fff, 1943px 692px #fff, 36px 1511px #fff, 1486px 658px #fff,
    1310px 1789px #fff, 353px 782px #fff, 443px 1491px #fff, 657px 164px #fff,
    131px 980px #fff, 1937px 1734px #fff, 789px 281px #fff, 1097px 96px #fff,
    1362px 1910px #fff, 1230px 575px #fff, 1998px 1670px #fff, 1043px 225px #fff,
    137px 1969px #fff, 1998px 687px #fff, 361px 637px #fff, 696px 574px #fff,
    635px 51px #fff, 142px 1493px #fff, 1520px 244px #fff, 1726px 551px #fff,
    1124px 668px #fff, 1832px 816px #fff, 1432px 769px #fff, 1366px 1279px #fff,
    1872px 585px #fff, 259px 1762px #fff, 1478px 487px #fff, 1302px 710px #fff,
    375px 47px #fff, 928px 1106px #fff, 686px 568px #fff, 306px 1099px #fff,
    1097px 972px #fff, 483px 13px #fff, 177px 1274px #fff, 1928px 1722px #fff,
    1052px 698px #fff, 1256px 1688px #fff, 1124px 1707px #fff, 1018px 790px #fff,
    1436px 210px #fff, 761px 222px #fff, 857px 1022px #fff, 400px 1615px #fff,
    1137px 350px #fff, 1499px 1875px #fff, 635px 381px #fff, 1031px 1754px #fff,
    733px 1171px #fff, 879px 752px #fff, 6px 266px #fff, 1140px 367px #fff,
    1252px 107px #fff, 850px 798px #fff, 484px 1154px #fff, 1029px 418px #fff,
    942px 612px #fff, 183px 1974px #fff, 794px 1560px #fff, 1548px 1588px #fff,
    994px 1337px #fff, 57px 1043px #fff, 444px 49px #fff, 1468px 601px #fff,
    1446px 1973px #fff, 917px 1703px #fff, 1127px 1340px #fff, 139px 1607px #fff,
    41px 714px #fff, 1229px 1317px #fff, 902px 679px #fff, 1336px 1533px #fff,
    687px 376px #fff, 319px 1962px #fff, 820px 1512px #fff, 81px 485px #fff,
    136px 447px #fff, 1516px 930px #fff, 281px 1218px #fff, 1329px 336px #fff,
    785px 452px #fff, 1025px 1700px #fff, 564px 310px #fff, 304px 754px #fff,
    1763px 1923px #fff, 1451px 1459px #fff, 674px 1154px #fff,
    1227px 1212px #fff, 1417px 1563px #fff, 202px 1606px #fff,
    1625px 1825px #fff, 833px 1700px #fff, 550px 1435px #fff, 1050px 266px #fff,
    921px 324px #fff, 926px 19px #fff, 62px 1239px #fff, 806px 1126px #fff,
    1383px 1950px #fff, 838px 140px #fff, 1602px 816px #fff, 1970px 676px #fff,
    1640px 1034px #fff, 1861px 410px #fff, 560px 622px #fff, 1922px 383px #fff,
    1914px 316px #fff, 1444px 1586px #fff, 800px 956px #fff, 1061px 994px #fff,
    1044px 1627px #fff, 1928px 1011px #fff, 956px 1705px #fff, 1580px 692px #fff,
    1025px 933px #fff, 676px 333px #fff, 1800px 339px #fff, 645px 815px #fff,
    1761px 1557px #fff, 1568px 446px #fff, 885px 366px #fff, 627px 1510px #fff,
    164px 1324px #fff, 230px 1576px #fff, 1045px 1215px #fff, 1632px 777px #fff,
    584px 178px #fff, 893px 89px #fff, 1237px 718px #fff, 200px 462px #fff,
    179px 1915px #fff, 1042px 1635px #fff, 1753px 484px #fff, 9px 1434px #fff,
    705px 164px #fff, 1724px 1552px #fff, 1870px 947px #fff, 1672px 166px #fff,
    1925px 890px #fff, 371px 1555px #fff, 658px 1473px #fff, 295px 754px #fff,
    1346px 123px #fff, 368px 1607px #fff, 1523px 1085px #fff, 1360px 1379px #fff,
    1927px 1526px #fff, 1454px 318px #fff, 660px 1478px #fff, 989px 976px #fff,
    1837px 1108px #fff, 883px 1407px #fff, 1376px 377px #fff, 430px 1317px #fff,
    907px 886px #fff, 1089px 526px #fff, 1647px 349px #fff, 1202px 777px #fff,
    1504px 1495px #fff, 1970px 265px #fff, 1004px 787px #fff, 374px 646px #fff,
    1449px 1461px #fff, 1374px 595px #fff, 913px 337px #fff, 1551px 1850px #fff,
    114px 413px #fff, 1650px 1131px #fff, 518px 1147px #fff, 1249px 763px #fff,
    1565px 1968px #fff, 883px 450px #fff, 389px 1387px #fff, 974px 332px #fff,
    22px 898px #fff, 1091px 1317px #fff, 1273px 1296px #fff, 1956px 747px #fff,
    1359px 1132px #fff, 1786px 783px #fff, 1175px 1345px #fff,
    1368px 1683px #fff, 543px 744px #fff, 17px 956px #fff, 604px 643px #fff,
    1712px 385px #fff, 997px 569px #fff, 1547px 721px #fff, 527px 1517px #fff,
    1884px 1412px #fff, 424px 214px #fff, 260px 1910px #fff, 1605px 1972px #fff,
    1426px 1581px #fff, 1143px 1200px #fff, 442px 1086px #fff,
    1915px 1896px #fff, 1607px 1306px #fff, 289px 1904px #fff, 1419px 972px #fff,
    1371px 997px #fff, 1569px 763px #fff, 124px 194px #fff, 1886px 1336px #fff,
    1386px 1347px #fff, 1059px 1620px #fff, 1648px 1660px #fff,
    1152px 1279px #fff, 392px 1495px #fff, 85px 1966px #fff, 1501px 1636px #fff,
    105px 258px #fff, 108px 526px #fff, 1658px 55px #fff, 1785px 1615px #fff,
    1648px 575px #fff, 934px 1724px #fff, 1850px 1631px #fff, 266px 1611px #fff,
    1322px 1264px #fff, 611px 893px #fff, 1336px 21px #fff, 1791px 884px #fff,
    1758px 732px #fff, 1711px 558px #fff, 119px 1678px #fff, 758px 1056px #fff,
    1996px 1122px #fff, 1603px 1207px #fff, 366px 790px #fff, 142px 1256px #fff,
    1082px 1505px #fff, 1179px 540px #fff, 1423px 620px #fff, 1043px 1577px #fff,
    1510px 1850px #fff, 1013px 935px #fff, 1284px 896px #fff, 1305px 1784px #fff,
    1323px 1863px #fff, 1241px 1866px #fff, 1140px 632px #fff, 1412px 86px #fff,
    1858px 1784px #fff, 154px 58px #fff, 1687px 1484px #fff, 823px 1459px #fff,
    1493px 1412px #fff, 1277px 510px #fff, 997px 1519px #fff, 1011px 1130px #fff,
    862px 1389px #fff, 1040px 1613px #fff, 643px 1707px #fff, 1681px 1441px #fff,
    1943px 1125px #fff, 1786px 226px #fff, 1969px 1177px #fff,
    1227px 1485px #fff, 352px 38px #fff, 470px 173px #fff, 672px 1106px #fff,
    1727px 624px #fff, 621px 1027px #fff, 1909px 1102px #fff, 537px 1029px #fff,
    366px 1056px #fff, 131px 1029px #fff, 1303px 1753px #fff, 237px 1903px #fff,
    783px 606px #fff, 1957px 1728px #fff, 293px 1366px #fff, 1328px 1941px #fff,
    1750px 420px #fff, 30px 1597px #fff, 1669px 1218px #fff, 1091px 874px #fff,
    1033px 154px #fff, 473px 138px #fff, 1439px 347px #fff, 1018px 818px #fff,
    1225px 219px #fff, 631px 1411px #fff, 1997px 285px #fff, 1866px 1863px #fff,
    849px 265px #fff, 268px 1607px #fff, 316px 1562px #fff, 139px 387px #fff,
    748px 1714px #fff, 218px 486px #fff, 822px 724px #fff, 282px 8px #fff,
    433px 1527px #fff, 141px 1100px #fff, 1389px 1250px #fff, 830px 642px #fff,
    1701px 777px #fff, 791px 1950px #fff, 1278px 606px #fff, 360px 466px #fff,
    95px 1749px #fff, 1012px 1071px #fff, 218px 1px #fff, 1286px 429px #fff,
    1176px 1883px #fff, 1439px 1735px #fff, 810px 957px #fff, 1852px 964px #fff,
    1654px 1921px #fff, 1141px 1055px #fff, 550px 1208px #fff, 106px 1527px #fff,
    1685px 622px #fff, 1777px 1900px #fff, 177px 107px #fff, 990px 215px #fff,
    1492px 1559px #fff, 1954px 926px #fff, 473px 1272px #fff, 1465px 728px #fff,
    407px 626px #fff, 994px 218px #fff, 914px 530px #fff, 599px 1180px #fff,
    879px 249px #fff, 759px 123px #fff, 851px 140px #fff, 1509px 335px #fff,
    1055px 126px #fff, 228px 1612px #fff, 1033px 1781px #fff, 263px 260px #fff,
    370px 1790px #fff, 322px 1150px #fff, 1380px 1602px #fff, 1927px 1563px #fff,
    437px 875px #fff, 1540px 589px #fff, 1489px 1386px #fff, 1462px 51px #fff,
    15px 1487px #fff, 1692px 503px #fff, 1558px 282px #fff, 915px 607px #fff,
    1458px 1062px #fff, 1282px 1561px #fff, 1126px 1946px #fff,
    849px 1502px #fff, 1203px 281px #fff, 1061px 910px #fff, 1559px 721px #fff,
    285px 1298px #fff, 1608px 1633px #fff, 695px 797px #fff, 1411px 1294px #fff,
    1903px 1316px #fff, 1641px 488px #fff, 269px 1430px #fff, 765px 374px #fff,
    109px 554px #fff, 526px 799px #fff, 1431px 1275px #fff, 1071px 186px #fff,
    1587px 734px #fff, 1712px 1101px #fff, 887px 893px #fff, 567px 1307px #fff,
    1048px 364px #fff, 1700px 1023px #fff, 90px 1065px #fff, 3px 409px #fff,
    1854px 1541px #fff, 1007px 1008px #fff, 1795px 858px #fff, 1544px 305px #fff,
    614px 1620px #fff, 55px 1968px #fff, 1958px 888px #fff, 849px 266px #fff,
    487px 570px #fff, 1793px 980px #fff, 1919px 1205px #fff, 1059px 617px #fff,
    533px 1964px #fff, 211px 1916px #fff, 1646px 1586px #fff, 967px 585px #fff,
    1594px 551px #fff, 1908px 1406px #fff, 464px 743px #fff, 1722px 1625px #fff,
    599px 1347px #fff, 391px 688px #fff, 828px 1798px #fff, 610px 475px #fff,
    939px 986px #fff, 1861px 1528px #fff, 1598px 822px #fff, 1897px 196px #fff,
    587px 429px #fff, 922px 1562px #fff, 1293px 224px #fff, 1225px 1505px #fff,
    1600px 110px #fff, 1332px 1167px #fff, 1775px 1013px #fff, 335px 1489px #fff,
    727px 1286px #fff, 141px 795px #fff, 1585px 1884px #fff, 768px 322px #fff,
    269px 1603px #fff, 1242px 208px #fff, 1056px 1507px #fff, 1957px 1482px #fff,
    1755px 233px #fff, 1540px 287px #fff, 165px 919px #fff, 1016px 302px #fff,
    1587px 1891px #fff, 598px 135px #fff, 1262px 1374px #fff, 1767px 728px #fff,
    928px 1689px #fff, 1964px 197px #fff, 1257px 221px #fff, 1868px 229px #fff,
    1787px 469px #fff, 1978px 77px #fff, 508px 1591px #fff, 1770px 1099px #fff,
    1208px 236px #fff, 1767px 153px #fff, 1880px 361px #fff, 1586px 1096px #fff,
    997px 1035px #fff, 408px 304px #fff, 978px 1775px #fff, 446px 1851px #fff,
    863px 1235px #fff, 599px 1199px #fff, 80px 336px #fff, 1200px 1931px #fff,
    1072px 1538px #fff, 1156px 359px #fff, 1513px 1073px #fff,
    1277px 1638px #fff, 1885px 1826px #fff, 1037px 1556px #fff,
    1285px 246px #fff, 664px 740px #fff, 317px 1475px #fff, 1602px 1146px #fff,
    1611px 1098px #fff, 6px 1632px #fff, 1912px 1827px #fff, 1104px 1685px #fff,
    1742px 587px #fff, 976px 1524px #fff, 281px 496px #fff, 1539px 101px #fff,
    103px 278px #fff, 313px 1596px #fff, 1670px 788px #fff, 273px 155px #fff,
    512px 1252px #fff, 1198px 453px #fff, 1565px 181px #fff, 778px 1400px #fff,
    1107px 406px #fff, 1038px 874px #fff, 1244px 1847px #fff, 457px 41px #fff,
    758px 283px #fff, 725px 96px #fff, 172px 367px #fff, 592px 86px #fff,
    1588px 3px #fff, 1037px 245px #fff, 599px 1008px #fff, 386px 852px #fff,
    1030px 497px #fff, 1509px 554px #fff, 480px 1262px #fff, 649px 1229px #fff,
    1420px 1344px #fff, 316px 876px #fff, 1754px 693px #fff, 153px 681px #fff,
    661px 1527px #fff, 456px 333px #fff, 383px 1241px #fff, 939px 1556px #fff,
    1531px 1566px #fff, 1305px 163px #fff, 839px 1361px #fff, 1009px 1499px #fff,
    1723px 1270px #fff, 596px 1105px #fff, 1439px 914px #fff, 1696px 401px #fff,
    805px 1718px #fff, 844px 1886px #fff, 1140px 298px #fff, 1056px 1277px #fff,
    816px 1323px #fff, 1536px 361px #fff, 1862px 537px #fff, 480px 314px #fff,
    601px 1727px #fff, 1862px 1350px #fff, 1684px 1265px #fff, 473px 379px #fff,
    1117px 398px #fff, 469px 1140px #fff, 1122px 1326px #fff, 105px 1184px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1854px 436px #fff, 518px 1914px #fff, 1845px 1007px #fff,
    1210px 1098px #fff, 1965px 364px #fff, 1338px 134px #fff, 1052px 1263px #fff,
    791px 1538px #fff, 1008px 1731px #fff, 413px 174px #fff, 1229px 66px #fff,
    1805px 1659px #fff, 903px 42px #fff, 1019px 1546px #fff, 990px 929px #fff,
    844px 30px #fff, 160px 556px #fff, 994px 1925px #fff, 545px 868px #fff,
    1852px 491px #fff, 466px 806px #fff, 1168px 16px #fff, 163px 728px #fff,
    415px 230px #fff, 694px 481px #fff, 1464px 1411px #fff, 380px 13px #fff,
    1003px 581px #fff, 1762px 892px #fff, 1095px 64px #fff, 1971px 1386px #fff,
    70px 1263px #fff, 1114px 638px #fff, 1159px 633px #fff, 1220px 733px #fff,
    1382px 167px #fff, 214px 1181px #fff, 980px 268px #fff, 919px 1304px #fff,
    1035px 963px #fff, 1620px 765px #fff, 912px 1899px #fff, 801px 1230px #fff,
    1724px 405px #fff, 1166px 517px #fff, 709px 774px #fff, 23px 502px #fff,
    291px 1544px #fff, 1535px 1829px #fff, 1206px 1175px #fff,
    1342px 1358px #fff, 702px 589px #fff, 1599px 1136px #fff, 296px 570px #fff,
    1257px 1321px #fff, 1183px 325px #fff, 1869px 1972px #fff, 1963px 533px #fff,
    946px 357px #fff, 196px 1342px #fff, 564px 176px #fff, 1633px 1825px #fff,
    683px 730px #fff, 902px 1450px #fff, 1161px 104px #fff, 1643px 203px #fff,
    297px 1071px #fff, 565px 1177px #fff, 486px 848px #fff, 497px 1109px #fff,
    621px 506px #fff, 1759px 319px #fff, 108px 1649px #fff, 189px 1172px #fff,
    32px 1187px #fff, 74px 1061px #fff, 1826px 790px #fff, 1559px 1445px #fff,
    1127px 1291px #fff, 1645px 1945px #fff, 1510px 1033px #fff,
    428px 1013px #fff, 45px 361px #fff, 723px 1866px #fff, 1096px 1246px #fff,
    763px 1390px #fff, 1959px 1098px #fff, 665px 6px #fff, 76px 691px #fff,
    477px 1036px #fff, 638px 1595px #fff, 1589px 1105px #fff, 1212px 1262px #fff,
    1880px 694px #fff, 232px 531px #fff, 1097px 1898px #fff, 722px 1852px #fff,
    162px 1513px #fff, 446px 1065px #fff, 1521px 1019px #fff, 814px 902px #fff,
    930px 632px #fff, 1587px 197px #fff, 436px 1288px #fff, 382px 1678px #fff,
    995px 1832px #fff, 1618px 1980px #fff, 1392px 1260px #fff, 163px 162px #fff,
    974px 1654px #fff, 1965px 1977px #fff, 381px 755px #fff, 1031px 515px #fff,
    1270px 1280px #fff, 1142px 483px #fff, 1021px 872px #fff, 604px 1372px #fff,
    1142px 14px #fff, 1903px 1764px #fff, 305px 1150px #fff, 1603px 774px #fff,
    1476px 1832px #fff, 874px 205px #fff, 705px 1907px #fff, 707px 454px #fff,
    1169px 416px #fff, 258px 788px #fff, 1950px 736px #fff, 530px 1887px #fff,
    397px 122px #fff, 492px 55px #fff, 1748px 778px #fff, 100px 1155px #fff,
    809px 1439px #fff, 855px 1605px #fff, 1208px 1339px #fff, 648px 1764px #fff,
    960px 1691px #fff, 794px 1112px #fff, 1562px 1583px #fff, 1705px 1296px #fff,
    304px 239px #fff, 605px 27px #fff, 788px 10px #fff, 504px 1849px #fff,
    832px 1885px #fff, 213px 1756px #fff, 474px 1144px #fff, 1495px 253px #fff,
    26px 303px #fff, 267px 1233px #fff, 1924px 1893px #fff, 890px 951px #fff,
    892px 307px #fff, 27px 1044px #fff, 1736px 1861px #fff, 1288px 1364px #fff,
    1367px 1341px #fff, 32px 298px #fff, 515px 153px #fff, 1354px 1539px #fff,
    487px 131px #fff, 1096px 752px #fff, 957px 254px #fff, 713px 673px #fff,
    1813px 1515px #fff, 1845px 1632px #fff, 732px 213px #fff, 1701px 1793px #fff,
    1168px 832px #fff, 1719px 1090px #fff, 550px 1279px #fff, 1579px 587px #fff,
    625px 411px #fff, 226px 306px #fff, 524px 114px #fff, 1102px 541px #fff,
    495px 651px #fff, 1744px 164px #fff, 1820px 449px #fff, 1149px 1667px #fff,
    1431px 1704px #fff, 1986px 846px #fff, 1341px 945px #fff, 1455px 1538px #fff,
    1547px 644px #fff, 579px 1987px #fff, 1003px 1167px #fff, 994px 1830px #fff,
    423px 1349px #fff, 661px 769px #fff, 606px 1327px #fff, 1556px 1978px #fff,
    376px 22px #fff, 1534px 1324px #fff, 1208px 484px #fff, 1544px 44px #fff,
    1049px 1579px #fff, 754px 789px #fff, 1550px 1750px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1854px 436px #fff, 518px 1914px #fff, 1845px 1007px #fff,
    1210px 1098px #fff, 1965px 364px #fff, 1338px 134px #fff, 1052px 1263px #fff,
    791px 1538px #fff, 1008px 1731px #fff, 413px 174px #fff, 1229px 66px #fff,
    1805px 1659px #fff, 903px 42px #fff, 1019px 1546px #fff, 990px 929px #fff,
    844px 30px #fff, 160px 556px #fff, 994px 1925px #fff, 545px 868px #fff,
    1852px 491px #fff, 466px 806px #fff, 1168px 16px #fff, 163px 728px #fff,
    415px 230px #fff, 694px 481px #fff, 1464px 1411px #fff, 380px 13px #fff,
    1003px 581px #fff, 1762px 892px #fff, 1095px 64px #fff, 1971px 1386px #fff,
    70px 1263px #fff, 1114px 638px #fff, 1159px 633px #fff, 1220px 733px #fff,
    1382px 167px #fff, 214px 1181px #fff, 980px 268px #fff, 919px 1304px #fff,
    1035px 963px #fff, 1620px 765px #fff, 912px 1899px #fff, 801px 1230px #fff,
    1724px 405px #fff, 1166px 517px #fff, 709px 774px #fff, 23px 502px #fff,
    291px 1544px #fff, 1535px 1829px #fff, 1206px 1175px #fff,
    1342px 1358px #fff, 702px 589px #fff, 1599px 1136px #fff, 296px 570px #fff,
    1257px 1321px #fff, 1183px 325px #fff, 1869px 1972px #fff, 1963px 533px #fff,
    946px 357px #fff, 196px 1342px #fff, 564px 176px #fff, 1633px 1825px #fff,
    683px 730px #fff, 902px 1450px #fff, 1161px 104px #fff, 1643px 203px #fff,
    297px 1071px #fff, 565px 1177px #fff, 486px 848px #fff, 497px 1109px #fff,
    621px 506px #fff, 1759px 319px #fff, 108px 1649px #fff, 189px 1172px #fff,
    32px 1187px #fff, 74px 1061px #fff, 1826px 790px #fff, 1559px 1445px #fff,
    1127px 1291px #fff, 1645px 1945px #fff, 1510px 1033px #fff,
    428px 1013px #fff, 45px 361px #fff, 723px 1866px #fff, 1096px 1246px #fff,
    763px 1390px #fff, 1959px 1098px #fff, 665px 6px #fff, 76px 691px #fff,
    477px 1036px #fff, 638px 1595px #fff, 1589px 1105px #fff, 1212px 1262px #fff,
    1880px 694px #fff, 232px 531px #fff, 1097px 1898px #fff, 722px 1852px #fff,
    162px 1513px #fff, 446px 1065px #fff, 1521px 1019px #fff, 814px 902px #fff,
    930px 632px #fff, 1587px 197px #fff, 436px 1288px #fff, 382px 1678px #fff,
    995px 1832px #fff, 1618px 1980px #fff, 1392px 1260px #fff, 163px 162px #fff,
    974px 1654px #fff, 1965px 1977px #fff, 381px 755px #fff, 1031px 515px #fff,
    1270px 1280px #fff, 1142px 483px #fff, 1021px 872px #fff, 604px 1372px #fff,
    1142px 14px #fff, 1903px 1764px #fff, 305px 1150px #fff, 1603px 774px #fff,
    1476px 1832px #fff, 874px 205px #fff, 705px 1907px #fff, 707px 454px #fff,
    1169px 416px #fff, 258px 788px #fff, 1950px 736px #fff, 530px 1887px #fff,
    397px 122px #fff, 492px 55px #fff, 1748px 778px #fff, 100px 1155px #fff,
    809px 1439px #fff, 855px 1605px #fff, 1208px 1339px #fff, 648px 1764px #fff,
    960px 1691px #fff, 794px 1112px #fff, 1562px 1583px #fff, 1705px 1296px #fff,
    304px 239px #fff, 605px 27px #fff, 788px 10px #fff, 504px 1849px #fff,
    832px 1885px #fff, 213px 1756px #fff, 474px 1144px #fff, 1495px 253px #fff,
    26px 303px #fff, 267px 1233px #fff, 1924px 1893px #fff, 890px 951px #fff,
    892px 307px #fff, 27px 1044px #fff, 1736px 1861px #fff, 1288px 1364px #fff,
    1367px 1341px #fff, 32px 298px #fff, 515px 153px #fff, 1354px 1539px #fff,
    487px 131px #fff, 1096px 752px #fff, 957px 254px #fff, 713px 673px #fff,
    1813px 1515px #fff, 1845px 1632px #fff, 732px 213px #fff, 1701px 1793px #fff,
    1168px 832px #fff, 1719px 1090px #fff, 550px 1279px #fff, 1579px 587px #fff,
    625px 411px #fff, 226px 306px #fff, 524px 114px #fff, 1102px 541px #fff,
    495px 651px #fff, 1744px 164px #fff, 1820px 449px #fff, 1149px 1667px #fff,
    1431px 1704px #fff, 1986px 846px #fff, 1341px 945px #fff, 1455px 1538px #fff,
    1547px 644px #fff, 579px 1987px #fff, 1003px 1167px #fff, 994px 1830px #fff,
    423px 1349px #fff, 661px 769px #fff, 606px 1327px #fff, 1556px 1978px #fff,
    376px 22px #fff, 1534px 1324px #fff, 1208px 484px #fff, 1544px 44px #fff,
    1049px 1579px #fff, 754px 789px #fff, 1550px 1750px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1503px 446px #fff, 241px 1903px #fff, 1802px 901px #fff,
    655px 1068px #fff, 1662px 1067px #fff, 263px 719px #fff, 152px 1095px #fff,
    1446px 1124px #fff, 1697px 1668px #fff, 725px 1471px #fff, 1845px 987px #fff,
    1840px 769px #fff, 536px 1938px #fff, 1580px 1132px #fff, 523px 141px #fff,
    45px 1311px #fff, 178px 1406px #fff, 1267px 939px #fff, 1882px 1259px #fff,
    661px 1298px #fff, 479px 1640px #fff, 846px 926px #fff, 1220px 721px #fff,
    1238px 762px #fff, 1795px 602px #fff, 432px 334px #fff, 812px 644px #fff,
    1638px 271px #fff, 84px 1350px #fff, 511px 1310px #fff, 1372px 20px #fff,
    971px 1154px #fff, 1448px 1580px #fff, 1444px 25px #fff, 433px 1148px #fff,
    577px 710px #fff, 1426px 1161px #fff, 143px 848px #fff, 1573px 1433px #fff,
    1714px 1303px #fff, 967px 954px #fff, 70px 183px #fff, 376px 527px #fff,
    452px 1543px #fff, 1131px 1702px #fff, 1775px 77px #fff, 1760px 66px #fff,
    1066px 1636px #fff, 697px 648px #fff, 459px 1848px #fff, 56px 1076px #fff,
    824px 1900px #fff, 793px 112px #fff, 950px 524px #fff, 1423px 91px #fff,
    1072px 470px #fff, 471px 1270px #fff, 1728px 561px #fff, 799px 347px #fff,
    432px 1501px #fff, 1301px 724px #fff, 15px 1252px #fff, 1151px 817px #fff,
    1716px 1898px #fff, 926px 1285px #fff, 78px 1342px #fff, 624px 1411px #fff,
    848px 1700px #fff, 759px 1256px #fff, 1447px 736px #fff, 1726px 114px #fff,
    1358px 1277px #fff, 1200px 1386px #fff, 1101px 900px #fff, 125px 299px #fff,
    1451px 1816px #fff, 484px 288px #fff, 383px 59px #fff, 632px 1782px #fff,
    267px 226px #fff, 1492px 1289px #fff, 1706px 1643px #fff, 499px 835px #fff,
    280px 282px #fff, 605px 697px #fff, 1217px 992px #fff, 1612px 506px #fff,
    905px 633px #fff, 1105px 725px #fff, 380px 820px #fff, 493px 405px #fff,
    1119px 835px #fff, 1150px 1724px #fff, 1177px 1339px #fff, 834px 899px #fff,
    514px 336px #fff, 1890px 1346px #fff, 189px 368px #fff, 1139px 995px #fff,
    1976px 1418px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1503px 446px #fff, 241px 1903px #fff, 1802px 901px #fff,
    655px 1068px #fff, 1662px 1067px #fff, 263px 719px #fff, 152px 1095px #fff,
    1446px 1124px #fff, 1697px 1668px #fff, 725px 1471px #fff, 1845px 987px #fff,
    1840px 769px #fff, 536px 1938px #fff, 1580px 1132px #fff, 523px 141px #fff,
    45px 1311px #fff, 178px 1406px #fff, 1267px 939px #fff, 1882px 1259px #fff,
    661px 1298px #fff, 479px 1640px #fff, 846px 926px #fff, 1220px 721px #fff,
    1238px 762px #fff, 1795px 602px #fff, 432px 334px #fff, 812px 644px #fff,
    1638px 271px #fff, 84px 1350px #fff, 511px 1310px #fff, 1372px 20px #fff,
    971px 1154px #fff, 1448px 1580px #fff, 1444px 25px #fff, 433px 1148px #fff,
    577px 710px #fff, 1426px 1161px #fff, 143px 848px #fff, 1573px 1433px #fff,
    1714px 1303px #fff, 967px 954px #fff, 70px 183px #fff, 376px 527px #fff,
    452px 1543px #fff, 1131px 1702px #fff, 1775px 77px #fff, 1760px 66px #fff,
    1066px 1636px #fff, 697px 648px #fff, 459px 1848px #fff, 56px 1076px #fff,
    824px 1900px #fff, 793px 112px #fff, 950px 524px #fff, 1423px 91px #fff,
    1072px 470px #fff, 471px 1270px #fff, 1728px 561px #fff, 799px 347px #fff,
    432px 1501px #fff, 1301px 724px #fff, 15px 1252px #fff, 1151px 817px #fff,
    1716px 1898px #fff, 926px 1285px #fff, 78px 1342px #fff, 624px 1411px #fff,
    848px 1700px #fff, 759px 1256px #fff, 1447px 736px #fff, 1726px 114px #fff,
    1358px 1277px #fff, 1200px 1386px #fff, 1101px 900px #fff, 125px 299px #fff,
    1451px 1816px #fff, 484px 288px #fff, 383px 59px #fff, 632px 1782px #fff,
    267px 226px #fff, 1492px 1289px #fff, 1706px 1643px #fff, 499px 835px #fff,
    280px 282px #fff, 605px 697px #fff, 1217px 992px #fff, 1612px 506px #fff,
    905px 633px #fff, 1105px 725px #fff, 380px 820px #fff, 493px 405px #fff,
    1119px 835px #fff, 1150px 1724px #fff, 1177px 1339px #fff, 834px 899px #fff,
    514px 336px #fff, 1890px 1346px #fff, 189px 368px #fff, 1139px 995px #fff,
    1976px 1418px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
